/*------------About css features------------*/
  
  .main-about-img {
    padding-bottom: 40px;
  
  }
  .about-img {
    position: relative;
    left: -25px;
  }
  
  .main-about-text {
    text-align: justify;
    width:90%; 
    margin: auto;
    display: inline-block;
  }
  .about-text-body {
    display: inline-block;
    vertical-align: bottom;
    text-align: justify;
    padding-left: 20px;
    width: 79%;
    float: right;
    margin-bottom: 0px;
    margin-top: 18px;
  }
  
  .about-text-satellite-icon {
    width: 20%;
    
  }
  .about-text-body-two {
    width: 62%;
    margin-right: 20px;
    vertical-align: top;  
    display: inline-block;
    text-align: justify;
  
  }
  
  .about-text-satellite-img {
    width: 35%;
  }

  @media (max-width: 976px) {
    .about-img {
       width: 100%;
       left: 0.1%;
       padding-left: 0px;
    }

    .main-about-text-1 {
      position: relative;
      text-align: center;
    }

    .about-text-body {
      margin: auto;
      margin-bottom: 24px;
      display: block;
      padding-left: 0px;
      float: none;
    }
    .about-text-satellite-icon {
      margin-bottom: 24px;
    }
    .main-about-text-2 {
      text-align: center;
    }
    .about-text-body-two {
      margin: auto;
      display: block;
      width: 79%;
      margin-bottom: 24px;

    }
  }
