body {
  position: relative;
  width: 100%;
  height: 100%;
  color: #8C8B8B;
  background-color: #f8f9fa;
}

html {
  width: 100%;
  height: 100%;
}


p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #8C8B8B;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  font-family:Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #e5e5e5;
  margin-top:50px;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  font-weight: bold;
  padding: 11px;
  color: #8C8B8B;
  border: 2px solid #8C8B8B;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: black;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (max-width: 976px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background-color: #f8f9fa;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

.about-icon {
  position: absolute;
  top: -15px;
  left: -8px;
}

.main-about {
  padding-top: 100px;  
  max-width: 950px;
  margin: auto;
}

.main-about-header {
  padding-bottom: 20px;
  border-bottom: 1px solid orange;
  width:90%; 
  margin: auto;
  margin-bottom: 20px;
}

.about-title {
  font-size: 72px;
}

.contact-us-button {
  font-size: 16px;
  padding: 10px;
  color: white;
  text-align: center;
  font-weight: 600;
  background: #39BF6E;
  border-bottom: 2px solid #227041;
  clear: both;
  display: inline-block;
  border-radius: 0px;
  font-size: 14px;
  border-bottom: 3px solid transparent;
  margin-top: 1px;
  opacity: 0.9;
  width: 250px;
  margin-bottom: 12px;
}

.footer {
  background: #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px;
}

footer {
  box-shadow: 0 50vh 0 50vh #e5e5e5;
}

@media (max-width: 480px) {
  .main-about {
    max-width: 480px !important;
  }
}
  
