body {
  position: relative;
  width: 100%;
  height: 100%;
  color: #8C8B8B;
  background-color: #f8f9fa;
}

html {
  width: 100%;
  height: 100%;
}


p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #8C8B8B;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  font-family:Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #e5e5e5;
  margin-top:50px;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: black;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background-color: #f8f9fa;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.content-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.payload-section {
  color: black;
  background: url("../img/ice2.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.download-section {
  color: black;
  background: url("../img/ice2.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gallery-section {
  color: black;
  background: url("../img/mars.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.download-section2 {
  color: black;
  background: url("../img/mon2.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.team-section {
  color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#map {
  width: 100%;
  height: 300px;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  #map {
    height: 350px;
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #42DCA3;
  outline: none;
  background-color: #42DCA3;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer p {
  padding-top: 30px;
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.card {
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.5);
  background-color: #f2f2f2;
  border-radius: 15px;
  /*margin: 10px;*/
}

.card>div>p{
  padding-bottom: 5px;
  margin-bottom: 5px;  
}

.card>img{
  object-fit: fill;
  max-width: 75%;   
  margin:auto;
  margin-top:20px;
  margin-bottom: 25px;
  border-radius: 300px;
}

.sec-title{
  margin-top: 40px;
}

.card-container{
    margin-bottom:20px;
  }

.main-root{
    padding-top:200px;    
}
.main-img{
    display:inline-block;
}
.main-hello{
    padding-left: 20px;
    vertical-align: top;
    display:inline-block;
}

.b1 button.b1link {
    width: 100%;
}
.b1 {
    margin-right:20px;
    display: inline-block;
    height: 130px;
    min-height: 15px;
    width: 130px;
    position: relative;
}
.b1[data-state~="shouldUseFlex"] .b1link,
.b1[data-state~="shouldUseFlex"] .b1labelwrapper {
    text-align: initial;
    display: flex;
    align-items: center;
}
.b1[data-state~="shouldUseFlex"][data-state~="center"] .b1link,
.b1[data-state~="shouldUseFlex"][data-state~="center"] .b1labelwrapper {
    justify-content: center;
}
.b1[data-state~="shouldUseFlex"][data-state~="left"] .b1link,
.b1[data-state~="shouldUseFlex"][data-state~="left"] .b1labelwrapper {
    justify-content: flex-start;
}
.b1[data-state~="shouldUseFlex"][data-state~="right"] .b1link,
.b1[data-state~="shouldUseFlex"][data-state~="right"] .b1labelwrapper {
    justify-content: flex-end;
}
.b1link {
    display:inline-block;
    line-height:120px;
    background-color: transparent;
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
    border-radius: 50%;
}

.b1link-about {
    border: solid rgba(229, 125, 34, 1) 4px;
}
.b1link-payload {
    border: solid rgba(242, 153, 19, 1) 4px;
}
.b1link-team {
    border: solid rgba(247, 200, 14, 1) 4px;
}
.b1link-gallery {
    border: solid rgba(247, 229, 14, 1) 4px;
}

.b1[data-disabled="false"] {
    cursor: pointer !important;
}
.b1[data-disabled="false"]:active[data-state~="mobile"] .b1link,
.b1[data-disabled="false"]:hover[data-state~="desktop"] .b1link,
.b1[data-disabled="false"][data-preview~="hover"] .b1link {
    background-color: transparent;
    border: solid rgba(153, 83, 22, 1) -1px;
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
}
.b1[data-disabled="false"]:active[data-state~="mobile"] .b1label,
.b1[data-disabled="false"]:hover[data-state~="desktop"] .b1label,
.b1[data-disabled="false"][data-preview~="hover"] .b1label {
    color: #33958f;
    transition: color 0.4s ease 0s;
}
.b1[data-disabled="true"] .b1link,
.b1[data-preview~="disabled"] .b1link {
    background-color: rgba(204, 204, 204, 1);
    border: solid rgba(56, 56, 56, 1) 4px;
}
.b1[data-disabled="true"] .b1label,
.b1[data-preview~="disabled"] .b1label {
    color: #ffffff;
}

.main-hello-text{
    width:480px;
    text-align:left;
    color:#8C8B8B;
    font-family: raleway,sans-serif;
}
.main-hello-needs{
  margin-top: 32px;
  text-align:left;
  color:#8C8B8B;
  font-family: raleway,sans-serif;
}

.font_3 {
    font-size:72px;
    margin-bottom:20px;
    font-weight:bolder;
}
.font_4 {
    font-size:36px;
    margin-bottom:20px;
    font-weight:bolder;
}
.font_5 {
  font-size:24px;
  margin-bottom:1px;
  font-weight:bolder;
}
.font_6 {
  font-size:24px;
  margin-bottom:20px;
  font-weight:bolder;
  color: orange;
}

.about-icon {
  position: absolute;
  top: -15px;
  left: -8px;
}

/*------------Team css features------------*/

.main-team {
    margin: auto;
    width: 950px;
    padding-top: 100px;
}

.main-team-blurb {
    margin: auto;
    width: 70%;
    padding-top: 50px;
    text-align: justify;
}

.main-team-icons {
    margin: auto;
    width: 100%;
    padding-top: 50px;
}

.team-img {
  display: inline-block;
  border: 3px solid orange;
  border-radius: 100%;
  color: #fafafa;
  height: 200px;
  -webkit-box-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  width: 200px;
  margin-right: 10px;
}
.team-img img {
  height: 100%;
  width: 100%;
}
.team-img__overlay {
    background-color: rgba(255,165,0,0.6);
    color: #fafafa;
    font-size: 24px;
  -webkit-box-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  z-index: 1;
  text-align: center;
}
.team-img__overlay-title {
padding-top: 42px;
font-size: 24px;
margin-bottom: 5px;
font-weight: bold;
} 
.team-img__overlay-body {
font-size: 18px;
} 
.team-img__overlay:hover {
  opacity: 1;
}
/*------------About css features------------*/
.main-about {
  padding-top: 100px;  
  width: 950px;
  margin: auto;
}

.main-about-header {
  padding-bottom: 20px;
  border-bottom: 1px solid orange;
  width:90%; 
  margin: auto;
  margin-bottom: 20px;
}

.about-title {
  font-size: 72px;
}

.main-about-img {
  padding-bottom: 40px;

}
.about-img {
  position: relative;
  left: -25px;
}

.main-about-text {
  text-align: justify;
  width:90%; 
  margin: auto;
  display: inline-block;
}
.about-text-body {
  display: inline-block;
  vertical-align: bottom;
  text-align: justify;
  padding-left: 20px;
  width: 79%;
}

.about-text-satellite-icon {
  width: 20%;
  
}
.about-text-body-two {
  width: 62%;
  margin-right: 20px;
  vertical-align: top;  
  display: inline-block;
  text-align: justify;

}

.about-text-satellite-img {
  width: 35%;
}

/*-------------Payload CSS features---------*/
.main-payload {
  padding-top: 100px;  
  width: 950px;
  margin: auto;
}

.main-payload-header {
  padding-bottom: 20px;
  border-bottom: 1px solid orange;
  width:90%; 
  margin: auto;
  margin-bottom: 20px;
}

.payload-title {
  font-size: 72px;
}

/*--------Team Members CSS features---------*/
.main-team-members {
  padding-top: 100px;  
  width: 950px;
  margin: auto;
}

.main-t-mem {
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
  border-bottom: 1px solid orange;
  display: flex;
  margin-top: 32px;

}
.team-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  line-height: 120px;
  text-align: center;
  background: rgba(59, 186, 181, 1);
  position: relative;
 
}

.team-text {
  width: 80%;
  text-align: justify;
  display: inline-flex;
  padding-top: 20px;
  padding-left: 50px;

}

.team-icon {
  position: absolute;
  top: 60px;
  left: -24px;
}

/*---------Contact CSS features------------*/
.main-contact {
  padding-top: 100px;  
  width: 950px;
  margin: auto;
}

.main-contact-header {
  padding-bottom: 20px;
  border-bottom: 1px solid orange;
  width:90%; 
  margin: auto;
  margin-bottom: 20px;
}

.contact-title {
  font-size: 72px;
}

.contact-us-button {
  font-size: 16px;
  padding: 10px;
  color: white;
  text-align: center;
  font-weight: 600;
  background: #39BF6E;
  border-bottom: 2px solid #227041;
  clear: both;
  width: 20%;
  display: inline-block;
  border-radius: 0px;
  font-size: 14px;
  border-bottom: 3px solid transparent;
  margin-top: 1px;
  opacity: 0.9;
}


.footer {
  background: #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 200px;
}

footer {
  box-shadow: 0 50vh 0 50vh #e5e5e5;
}

/*---------------Gallery CSS stuff-------------*/

.row {
  margin: 32px !important;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
  width: 100%;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media(max-width: 992px){
  .card>div>p{
  font-size: 12px;
  }

}
@media(max-width: 576px){
  .card-container{
    margin-bottom: 20px;
    width: 60%;
  }
   .card>div>p{
  
  font-size: 12px;
  }
}


