/*-------------Payload CSS features---------*/
.main-payload {
    padding-top: 100px;  
    max-width: 950px;
    margin: auto;
  }
  
  .main-payload-header {
    padding-bottom: 20px;
    border-bottom: 1px solid orange;
    width:90%; 
    margin: auto;
    margin-bottom: 20px;
  }
  
  .payload-title {
    font-size: 72px;
  }

  @media (max-width: 972px) {
    .payload-text {
      width: 90%;
      margin: auto;
    }
  }