# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName ~cubesat
AuthUserFile /home/cubesat/MyWebSite/_vti_pvt/service.pwd
AuthGroupFile /home/cubesat/MyWebSite/_vti_pvt/service.grp
