vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|1
vti_restartmanual:IX|0
vti_textextensions:SX|.txt.
vti_featurelist:VX|vti_ACGroups vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ServerIndexServer vti_ServerODBC vti_ServerASP
vti_webservertype:SR|apache-fp
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_htmlextensions:SX|.htm..shtml.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_timecreated:TR|08 May 2018 19:20:04 -0000
vti_extenderversion:SR|4.0.2.4222
vti_longfilenames:IX|1
vti_welcomenames:VX|index.html index.htm index.shtml index.cgi index.php default.htm INDEX.HTM Index.htm INDEX.HTML Index.htm
vti_insecureserverurl:SR|http://
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
